.hidden {
  display:none;
}

body {
  background-color:pink;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-group.col-md-6{
  border: solid black;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
}
